.zcy-header{
    display: flex;
    flex: 1;
    height: 3.125rem;
    position: relative;
    background: rgb(255,192,1);
    opacity: 0.8;
    .head-left{
        width: 14%;
        padding: .3125rem .8125rem;
        font-size: .75rem;
        color: white;
        text-align: center;
        .classifyIcon{
            display: flex;
            flex: 1;
            height: 1.25rem;
            font-size: 18px;
            justify-content: center;
        }
    }
    .head-center{
        width: 80%;
        padding: .3125rem;
        .searchBox{
            position: relative;
            z-index: 10;
            width: 100%;
            height: 100%;
            border-radius:30px;
            border: 0;
            padding: 0 1.875rem;
        }
    }
    .head-right{
        width: 12%;
        text-align: center;
        line-height: 3.125rem;
        font-size: .875rem;
        color: rgba(255,255,255,1);
    }
}